@import "../General/App.scss";

.entry {
  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .card {
      border-radius: 1rem;

      input[type="submit"] {
        @include button(white, $blue);
        padding: 0.5rem;
      }

      form {
        .card-text {
          span {
            cursor: pointer;
            color: $blue;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .entry {
    .container {
      .card {
        padding: 0.25rem !important;
        margin: auto 1.25rem;

        .col-sm-10 {
          padding: 0;
        }

        .card-img-top {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .entry {
    .container {
      all: unset;
      margin: 1rem;
    }
  }
}
