@import "../General/App.scss";

.dashboard {
  button {
    @include button(white, $navy);
  }

  main {
    width: 100%;

    nav {
      .icon-nav {
        cursor: pointer;
      }

      .dropdown {
        .dropdown-toggle {
          @include button(white, $navy);
        }
      }

      .dropdown-menu {
        .dropdown-item {
          @include button($navy, white);
          border: 1px solid white;
          border-radius: 0;
        }
      }
    }
  }
}

.sidebar {
  background: $navy;
  color: white;
  min-height: 100vh;
  width: 200px;
  transition: all 0.5s;

  .header {
    .card-title {
      color: white;
    }
  }

  .link {
    color: white;
    padding: 10px 15px;
    transition: all 0.5s;

    .card-text {
      color: white;
    }

    &:hover {
      background: $lightblue;
      transition: all 0.5s;
      .card-text,
      .icon {
        color: $navy;
      }
    }
  }

  .active {
    background: $lightblue;
    .icon,
    .card-text {
      color: $navy;
    }
  }
}

.doctor-list {
  .doctor-card-list {
    .card {
      cursor: pointer;

      .card-img {
        @include imageRounded($lightblue);
      }
    }
  }
}

.doctor-detail {
  .doctor-content {
    .card-img {
      @include imageRounded($lightblue);
      width: 150px;
      height: 150px;
    }

    .card-title,
    .card-text {
      margin-bottom: 0.5rem;
    }
  }
}
