@import "../General/App.scss";

.dashboard {
  main {
    width: 100%;

    nav {
      .icon-nav {
        cursor: pointer;
      }

      .dropdown {
        .card-img {
          @include imageRounded($lightblue);
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .sidebar {
    background: $navy;
    color: white;
    min-height: 100vh;
    width: 200px;
    transition: all 0.5s;

    .header {
      .card-title {
        color: white;
      }
    }

    .link {
      display: flex;
      color: white;
      padding: 10px 15px;
      transition: all 0.5s;

      .card-text {
        color: white;
      }

      &:hover {
        background: $lightblue;
        transition: all 0.5s;
        .icon {
          color: $navy;
        }
      }
    }

    .active {
      background: $lightblue;
      .icon,
      .card-text {
        color: $navy;
      }
    }
  }
}
