$navy: #252b42;
$blue: #23a6f0;
$grey: #737373;

@mixin button($pri, $sec) {
  text-align: center;
  color: $pri;
  background-color: $sec;
  border: 1px solid $pri;
  border-radius: 0.5rem;

  &:hover {
    background-color: $pri;
    color: $sec;
    border: 1px solid $sec;
  }
}

.card-title {
  color: $navy;
}

.card-text {
  color: $grey;
}

// Navbar
nav {
  &.active {
    background-color: white;
  }

  .navbar-brand {
    color: $navy;
  }

  .navbar-nav {
    gap: 0.5rem;

    .login {
      @include button(white, $blue);
    }
  }
}

// Header
#header {
  .col-md-6 {
    .card {
      border: none;

      button {
        @include button(white, $blue);
        padding: 0.75rem 1.5rem;
      }
    }

    .card-img-top {
      background: linear-gradient(white, $blue);
      border-radius: 1rem;
      max-width: 350px;
      max-height: 350px;
      object-fit: cover;
      object-position: top;
      margin-top: 1rem;
    }
  }
}

#feature {
  background-color: #f6fcff;

  main {
    .icon-feature {
      background-color: $blue;
      border-radius: 50%;
      padding: 20px;

      .icon {
        color: white;
      }
    }
  }
}

#feedback {
  header {
    padding: 0 3rem;
    .arrow {
      .icon {
        @include button(white, $navy);
        cursor: pointer;
        padding: 0.25rem;
        border-radius: 50%;
      }
    }
  }

  .feedback-card {
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    gap: 0.15rem;

    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      cursor: pointer;
      flex: 0 0 auto;
      width: 300px;

      .card-profile {
        .card-img-top {
          width: 70px;
          height: 70px;
          object-fit: cover;
          object-position: top;
          background-color: navy;
          border-radius: 50%;
        }
      }
    }
  }
}

#newsletter {
  background-color: $navy;

  .card {
    background-color: $navy;
    border: none;

    .card-title,
    .card-text {
      color: white;
    }
  }

  form {
    input[type="search"]::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }

    .form-control {
      max-width: 250px;
      border-radius: 0.25rem 0 0 0.25rem;
      padding: 0.5rem 1rem;
      border-color: white;

      &:focus {
        border-color: white;
        box-shadow: none;
      }
    }

    button {
      @include button(white, $blue);
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }
}

.entry {
  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .card {
    border-radius: 1rem;

    input[type="submit"] {
      @include button(white, $blue);
      padding: 0.5rem;
    }
  }
}

@media screen and (max-width: 992px) {
  #chnewsletter {
    text-align: center;
  }

  .entry {
    .container {
      .card {
        padding: 0.25rem !important;
        margin: auto 1.25rem;

        .col-sm-10 {
          padding: 0;
        }

        .card-img-top {
          display: none;
        }
      }
    }
  }
}
